page-home {
    ion-fab-list {
        -webkit-box-align: left !important;
        -webkit-align-items: left !important;
        -ms-flex-align: left !important;
        align-items: flex-start !important;
    }
}


  body > ion-app > ng-component > ion-nav > page-home > ion-content > div.scroll-content > ion-item-group > button{
      padding-right: 16px;
  };

  body > ion-app > ng-component > ion-nav > page-home > ion-content > div.scroll-content > div:nth-child(2) > ion-list{
    padding-right: 16px;
};

body > ion-app > ng-component > ion-nav > page-home > ion-content > div.scroll-content > ion-item-group > ion-item > div.item-inner > div > ion-input > input{
    margin: 0px;
};