page-team {
    .card-background-page {

        ion-card {
          height: 100%;
          position: relative;
          text-align: center;
        }
      
        .card-title {
          position: absolute;
          top: 30%;
          font-size: 3.0em;
          text-transform: uppercase;
          width: 100%;
          font-weight: bold;
          color: #fff;
        }
      
        .card-subtitle {
          font-size: 1.0em;
          position: absolute;
          top: 52%;
          width: 100%;
          color: #fff;
        }

        .card-button {
            position: absolute;
            top: 70%;
            width: 100%;
          }

          .myOverlay{
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 99;
            bottom: 0px;
            background-color:rgba(0, 0, 0, 0.5);       
        }
      
      }
}



