<!--
  Generated template for the CreateTeamModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Mannschaft anlegen</ion-title>
    <ion-buttons start>
      <button ion-button (click)="closeModal()">
        <span ion-text color="primary">Abbrechen</span>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>


    <div padding>
        <ion-segment [(ngModel)]="gender">
          <ion-segment-button value="male">
           Herren
          </ion-segment-button>
          <ion-segment-button value="female">
           Mädchen
          </ion-segment-button>
        </ion-segment>
      </div>

  <div [ngSwitch]="pet"></div>
      <div [ngSwitch]="gender">
        <div *ngSwitchCase="'male'">
          <ion-list>
              <ion-item>
                <ion-label>Altersstufe</ion-label>
                <ion-select [(ngModel)]="uebergabe.jugend" interface="popover">
                  <ion-option value="Herren">Herren</ion-option>
                  <ion-option value="A-Junioren">A-Junioren</ion-option>
                  <ion-option value="B-Junioren">B-Junioren</ion-option>
                  <ion-option value="C-Junioren">C-Junioren</ion-option>
                  <ion-option value="D-Junioren">D-Junioren</ion-option>
                  <ion-option value="E-Junioren">E-Junioren</ion-option>
                  <ion-option value="F-Junioren">F-Junioren</ion-option>
                  <ion-option value="Minis">Minis</ion-option>
                  <ion-option value="Senioren">Senioren</ion-option>
                </ion-select>
              </ion-item>

              <ion-list>
                <ion-item>
                 <ion-label>Spielzeit</ion-label>
                  <ion-select [(ngModel)]="uebergabe.saison" (ionChange)='valuechange(saison)' interface="popover">
                    <ion-option *ngFor="let item of saisonList" [value]="item.values">{{item.name}}</ion-option>
                  </ion-select>
                </ion-item>
              </ion-list>

            </ion-list>
          <ion-list  radio-group [(ngModel)]="uebergabe.mannschaftsgradgrad">
              <ion-item>
                <ion-label>1. Mannschaft</ion-label>
                <ion-radio checked="true" value="1"></ion-radio>
              </ion-item>

              <ion-item>
                <ion-label>2.Mannschaft</ion-label>
                <ion-radio value="2"></ion-radio>
              </ion-item>

              <ion-item>
                <ion-label>3. Mannschaft</ion-label>
                <ion-radio value="3"></ion-radio>
              </ion-item>
      </ion-list>

      <button ion-button full padding (click)="createOneTeam()">Anlegen</button>
      </div>


        <div *ngSwitchCase="'female'">
            <ion-list>
                <ion-item>
                  <ion-label>Altersstufe</ion-label>
                  <ion-select [(ngModel)]="uebergabe.jugend" interface="popover">
                    <ion-option value="Frauen">Frauen</ion-option>
                    <ion-option value="A-Juniorinnen">A-Juniorinnen</ion-option>
                    <ion-option value="B-Juniorinnen">B-Juniorinnen</ion-option>
                    <ion-option value="C-Juniorinnen">C-Juniorinnen</ion-option>
                    <ion-option value="D-Juniorinnen">D-Juniorinnen</ion-option>
                    <ion-option value="E-Juniorinnen">E-Juniorinnen</ion-option>
                    <ion-option value="F-Juniorinnen">F-Juniorinnen</ion-option>
                    <ion-option value="Minis">Minis</ion-option>
                    <ion-option value="Seniorinnen">Seniorinnen</ion-option>
                  </ion-select>
                </ion-item>

                <ion-list>
                  <ion-item>
                   <ion-label>Spielzeit</ion-label>
                    <ion-select [(ngModel)]="uebergabe.saison" (ionChange)='valuechange(saison)' interface="popover">
                      <ion-option *ngFor="let item of saisonList" [value]="item.values">{{item.name}}</ion-option>
                    </ion-select>
                  </ion-item>
                </ion-list>

              </ion-list>
            <ion-list  radio-group [(ngModel)]="uebergabe.mannschaftsgradgrad">
                <ion-item>
                  <ion-label>1. Mannschaft</ion-label>
                  <ion-radio checked="true" value="1"></ion-radio>
                </ion-item>

                <ion-item>
                  <ion-label>2.Mannschaft</ion-label>
                  <ion-radio value="2"></ion-radio>
                </ion-item>

                <ion-item>
                  <ion-label>3. Mannschaft</ion-label>
                  <ion-radio value="3"></ion-radio>
                </ion-item>
        </ion-list>

        <button ion-button full padding (click)="createOneTeam()">Anlegen</button>
        </div>
      </div>

</ion-content>
